.container{
	width: 760px;
	margin: 0 auto;
}

.clearfix:after{
	content: "";
	clear: both;
	display: table;
}

.pt{
	width: 50%;
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
}

p{
	line-height: 2;
	text-align: justify;
}

img{
	width: 100%;
}

ul{
	list-style-type:none;
	margin: 0;
}

#footer{
	background-color: #333;
}

#footer ul{
	margin-left: -50px;
}

#footer li{
	float: left;
	line-height: 50px;
}

#footer a{
	color: #fff;
	text-decoration: none;
	padding: 5px 10px;

}