*{
	line-height: 2;
}

body{
	font-size: 20px;
	font-family: 微軟雅黑體,黑體,微軟正黑體;
}

.container{
	width: 760px;
	margin: 0 auto;
}

img{
	width: 100%;
}


.red{
	color: red;
}

.w50{
	width: 50%;
	display: block;
	margin: auto;
}



.w90{
	
	display: block;
	margin: auto;
}


.w70{
	width: 90%;
	display: block;
	margin: auto;
}

.plugs,.helps{
	font-size: 15px;
	padding: 20px;
	border: 1px solid #333;

}